html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  font-size: 18px;
  background-color: red;
  border: solid;
  border-color: rgb(125, 0, 0);
  border-radius: 20px;
  /* background-image: linear-gradient(to right bottom); */
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  box-shadow: 0x 0px 5px rgb(255, 255, 255) inset;
}

/* Search for applying inset box shadows */